<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chirp-talk</title>
    <style type="text/css">
    #demo {
      font-size: 180px;
    }
    </style>
  <body>

    <div id='demo'></div>
    <script id='demo-template' type='text/ractive'>
      {{#visible}}
        <div intro='typewriter:{speed:6400, interval: 50}'>
          <p>So they found us here. What should we do?</p>
        </div>
      {{/visible}}
    </script>


    <script type="text/javascript">
      function load(){
        require(['js/app'], function (app) {
          app.initialize();
        });
      }
      function loadDev(){
          console.log('DEVELOPMENT MODE');
          var script = document.createElement("script");
          script.src = 'jam/require.js';
          script.onload = load;
          document.head.appendChild( script );
      }
    </script>
    <script src="jam/require.prod.js" onerror="loadDev()" onload="load()"></script>
  </body>
</html>